table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 95%;
  font-size: 20px;
}

td,
th {
  border: 1px solid #747171;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #545454;
}
